*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	overflow: hidden;
	background-color: grey;
	position: relative;
}
.list{
	width: 400%;
	list-style: none;
}
.list::after{
	content: "";
	display: block;
	clear: both;
}
.item{
	width: 375px;
	float: left;
}
.item img{
	width: 100%;
	height: 187.5px;
	display: block;
}
.point{
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	list-style: none;
}
.point-item{
	width: 10px;
	height: 10px;
	margin: 0 5px;
	background-color: white;
	opacity: 0.2;
	float: left;
	border-radius: 50%;
}
.point-item.active{
	opacity: 1;
}